body {
    font-family: Arial, Helvetica, sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#display {
    display: flex;
    flex-direction: column;
    width: 25%;
    border: 1px solid grey;
    padding: 3%;
}
h1{
    margin: 1px;
    font-weight: 400;
    text-align: center;
}
p {
    text-align: center;
    font-weight: 500;
}
input {
    margin: 4px 0px 16px 0px ;
    outline: none;
    padding: 8px;
    border: none;
    background-color: rgb(225, 225, 225);
    border-radius: 3px;  
    color: black;   
}   
button {
    padding: 12px;
    font-size: 15px;
    font-weight: 500;
    border: none;
    outline: none;
    background-color: rgb(68, 18, 232);
    color: white;
    border-radius: 3px;
    margin-top: 2px;
}
button:hover {
    cursor: pointer;
    background-color: rgb(41, 4, 164);
}